
.container {
    max-width: 1080px;
    color: white;
    margin: auto;
    display: grid;
    /* grid-template-columns: 20px auto 200px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 50px;
    /* grid-template-rows: repeat(3, 200px); */
    grid-column-gap: 10px;
    grid-row-gap: 15px;

    grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer ."
}

.header {
    grid-area: header;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
  }
.main {
    grid-area: main;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
  }
.sidebar {
    grid-area: sidebar;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
  }
.footer {
    grid-area: footer;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
  }

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  color: gold;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: gold;
}
h3 {
  color: silver;
}
